* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    margin: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    background-color: #DAD8D9;
}

.header {
    font-size: 40px;
    margin-top: 50px;
    width: 1250px;
    height: 190px;
    background-color: green;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fila {
    width: 1250px;
    height: 875px;
    background-color: #DAD8D9;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 875px;
    background-color: blue;
    margin-right: 20px;
}

.Nclick {
    width: 200px;
    height: 70px;
    background-color: yellow;
    color: black;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 40px;
}

.columna {
    display: flex;
    flex-direction: column;
}

.cuadros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 555px;
    background-color: red;
}

.inside {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.amarillos {
    width: 265px;
    height: 265px;
    background-color: yellow;
    margin-right: 15px;
    margin-top: 10px;
}

.morado {
    width: 830px;
    height: 195px;
    background-color: purple;
    margin-right: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lclick {
    width: 300px;
    height: 80px;
    background-color: #F0EAEE;
    color: #7B2681;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

.relleno {
    width: 900px;
    height: 20px;
    background-color: #C2C2C4;
    margin-top: 30px;
}

.rellenoDos {
    width: 700px;
    height: 20px;
    background-color: #C2C2C4;
    margin-top: 30px;
}